body {
	font-size: 16px;
	color: #000;
	font-family: 'Tahoma';
	line-height: 1.5;
}

.bg-header {
	background: #ebebeb;
	padding: 10px 0;
}

.logo {
	color: #00A551;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	background: linear-gradient(to right, #f5821fa8, #fff, #fdff65);
	padding: 5px 0;
}

.slogan {
	color: #00A551;
	font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.menu {
	background: #00a551;
	display: inline-block;
	width: 100%;


	li {
		display: inline-block;
		padding: 0 20px;
		position: relative;

		a {
			color: #fff;
			display: block;
			padding: 12px 10px;

			&:hover {
				color: yellow;
			}
		}

		ul {
			display: none;
			position: absolute;
		}

		&:hover>ul {
			display: block;
			top: 100%;
			left: 0;
			background: #fff;
			width: 200px;
			border: 1px solid #ebebeb;
			border-radius: 5px;
			z-index: 999;

			li {
				list-style: circle;
				display: block;

				&:hover {
					background: #00a551;
				}

				a {
					color: #000;

					&:hover {
						color: yellow;
					}
				}
			}
		}

	}

	.item-booking {
		a {
			background: #f58220;
			color: #fff;
			padding: 7px 12px;
			border-radius: 5px;
		}
	}
}

.title {
	color: #555555;
	font-size: 32px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.item-slider-for {
	border: 3px solid #00a551;
	padding-top: 20px;
	padding-bottom: 20px;
}

.slider-nav {
	margin-top: 20px;
}

.slick-initialized .slick-slide {
	border: 1px solid #00a551;
	margin-right: 15px;
}

footer {
	background: #efefef;
	padding-top: 20px;
	margin-top: 30px;

	.title-footer {
		color: #00A551;
	}

	a {
		display: inline-block;
		color: #00A551;
		font-weight: bold;
	}
}

.coppyright {
	background: #00a551;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	padding: 7px 0;
}

.bg {
	background: url('../images/bg.jpg') top center no-repeat;
}

.title-note {
	color: #00a551;
	font-size: 32px;
}

.form-booking {
	padding: 25px 15px;
	background: #fff;
	border-radius: 25px;
}

.btn-booking {
	color: #fff;
	background: #00a551;
	display: block;
	margin: auto;
}

.btn-call {
	position: fixed;
	left: 30px;
	top: 50%;
	z-index: 99; 

	span {
		display: block;
		font-size: 30px;
		width: 55px;
		height: 55px;
		margin: auto;
		border-radius: 50%;
		line-height: 54px;
		text-align: center;
		color: #fff;
		background: #0bdb7d;
		position: relative;

		i{
			-webkit-animation-name: lac;
			animation-name: lac;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 50%;
			border: solid 1px #0bdb7d;
			-webkit-animation-name: zoomin;
			animation-name: zoomin;
			-webkit-animation-duration: 1.5s;
			animation-duration: 1.5s;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
		}
		&:after {
			content: '';
			position: absolute;
			top: -10px;
			left: -10px;
			right: -10px;
			bottom: -10px;
			border-radius: 50%;
			background: #0bdb7d;
			z-index: -1;
			-webkit-animation-name: zoomout;
			animation-name: zoomout;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-direction: alternate;
			animation-direction: alternate; 
		}
		@keyframes lac {
			0% {
			-webkit-transform: rotate(0deg);
			        transform: rotate(0deg); }
			10% {
			-webkit-transform: rotate(-25deg);
			        transform: rotate(-25deg); }
			20% {
			-webkit-transform: rotate(25deg);
			        transform: rotate(25deg); }
			30% {
			-webkit-transform: rotate(-25deg);
			        transform: rotate(-25deg); }
			40% {
			-webkit-transform: rotate(25deg);
			        transform: rotate(25deg); }
			50% {
			-webkit-transform: rotate(0deg);
			        transform: rotate(0deg); }
			100% {
			-webkit-transform: rotate(0deg);
			        transform: rotate(0deg); } }
			@-webkit-keyframes lac {
			0% {
			-webkit-transform: rotate(0deg); }
			10% {
			-webkit-transform: rotate(-25deg); }
			20% {
			-webkit-transform: rotate(25deg); }
			30% {
			-webkit-transform: rotate(-25deg); }
			40% {
			-webkit-transform: rotate(25deg); }
			50% {
			-webkit-transform: rotate(0deg); }
			100% {
			-webkit-transform: rotate(0deg); } }
			@keyframes zoomin {
			0% {
			-webkit-transform: scale(0.8);
			        transform: scale(0.8);
			opacity: 1; }
			100% {
			-webkit-transform: scale(2.2);
			        transform: scale(2.2);
			opacity: .1; } }
			@-webkit-keyframes zoomin {
			0% {
			-webkit-transform: scale(0.8);
			opacity: 1; }
			100% {
			-webkit-transform: scale(2.2);
			opacity: .1; } }
			@keyframes zoomout {
			0% {
			-webkit-transform: scale(0.8);
			        transform: scale(0.8);
			opacity: 1; }
			100% {
			-webkit-transform: scale(1.1);
			        transform: scale(1.1);
			opacity: .3; } }
			@-webkit-keyframes zoomout {
			0% {
			-webkit-transform: scale(0.8);
			opacity: 1; }
			100% {
			-webkit-transform: scale(1.1);
			opacity: .3; } }
	}
}